<header class="jumbotron">
    <div class="container">
        Διαχείριση χρηστών για τη δράση <h1>{{users.0.Name}}</h1>
        <a href="/">index</a>
    </div>
</header>

<table class="table table-bordered">
    <thead>
        <th>Χρήστης</th>
        <th>Ρόλος</th>
        <th>Επιλογή</th>
    </thead>
    <tbody>
        {{#users}}
        <tr>
            <td>{{U_LoginName}}</a></td>
            <td>{{URT_Description}}</td>
            <td><input type="checkbox"></td>
        </tr>
        {{/users}}
    </tbody>
</table>

<br>
<button type="button" id="new-invitation" class="btn btn-danger btn-sm" >Διαγραφή επιλεγμένων</button></br>
Ρόλος:
<label class="radio-inline"><input type="radio" name="optradio">Διαχειριστής</label>
<label class="radio-inline"><input type="radio" name="optradio" checked>Αξιολογητής</label>
Χρήστες: <input type="text" value="Amsterdam,Washington" data-role="tagsinput">
<button type="button" id="new-invitation" class="btn btn-info btn-sm" >Προσθήκη</button>
<script src="/bootstrap-tagsinput.min.js"></script>
<script src="/typeahead.bundle.js"></script>
<script src="/user.js"></script>
<link href="/bootstrap-tagsinput.css" rel="stylesheet">
